<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RetroTech Solutions - Account Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="login-panel">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span class="glyphicon glyphicon-user-plus"></span>
                                Create New Account - RetroTech Solutions
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="security-badge">
                                <span class="glyphicon glyphicon-shield"></span>
                                Secure Registration - Protected by RetroTech Security
                            </div>
                            
                            <% if (typeof error !== 'undefined' && error) { %>
                                <div class="alert alert-danger">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    <%= error %>
                                </div>
                            <% } %>

                            <form method="POST" action="/auth/register" id="registerForm">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="username">Username *</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-user"></span>
                                                </span>
                                                <input type="text" class="form-control" id="username" name="username" 
                                                       required minlength="3" maxlength="50">
                                            </div>
                                            <small class="help-block">3-50 characters, letters, numbers, dots, underscores, or hyphens only</small>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email">Email Address *</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-envelope"></span>
                                                </span>
                                                <input type="email" class="form-control" id="email" name="email" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="password">Password *</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-lock"></span>
                                                </span>
                                                <input type="password" class="form-control" id="password" name="password" 
                                                       required minlength="6">
                                            </div>
                                            <small class="help-block">Minimum 6 characters</small>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="confirmPassword">Confirm Password *</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-lock"></span>
                                                </span>
                                                <input type="password" class="form-control" id="confirmPassword" 
                                                       name="confirmPassword" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" required>
                                            I agree to the RetroTech Solutions Terms of Service and Privacy Policy
                                        </label>
                                    </div>
                                </div>
                                
                                <button type="submit" class="btn btn-primary btn-block">
                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                    Create Secure Account
                                </button>
                            </form>
                            
                            <div class="text-center" style="margin-top: 15px;">
                                <p>Already have an account?</p>
                                <a href="/auth/login" class="btn btn-link">
                                    <span class="glyphicon glyphicon-log-in"></span>
                                    Sign In Here
                                </a>
                            </div>
                        </div>
                        
                        <div class="panel-footer text-center">
                            <small class="text-muted">
                                RetroTech Solutions Authentication System v2.3.0<br>
                                Enterprise Security Since 2010
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>